#opetationcontainer {
    height: 500px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        "h h" "f f";
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.opetation {
    display: grid;
    text-align: center;
    align-content: center;
    color: '#437E85';
    height: 50%;
    width: 100%;
    font-family: 'Courier New', monospace;
}

.opetationdiv {
    display: grid;
    width: 30vh;
    height: 5vh;
    align-content: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: 'Courier New', monospace;
}
h2{
    color: rgb(67, 126, 133);
    margin-left: 35px;
    font-family: 'Courier New', monospace;
}
button {
    border-radius: 5px;
    text-align: center;
    padding: 10px 15px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    border: none;
}

.btn1 {
    margin-left: 35px;
    color: white;
    background-color: rgb(109, 160, 99);
}

.btn2 {
    margin-left: 20px;
    color: white;
    background-color: rgb(234, 119, 117);
}
