#container{
  height: 10vh;
  width: 82vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "h h""f f";
   background-color: white;
    margin:1rem;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}


.card{
  display: grid;
  text-align: center;
  align-content: center;
  color: black;
  height: 50%;
  width: 250px;
  font-family: 'Courier New', monospace;
}



